<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801682005175-32diaqluppj1gt1733lcr13p2heuvia0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801682005175-32diaqluppj1gt1733lcr13p2heuvia0</string>
	<key>API_KEY</key>
	<string>AIzaSyAbBkwi-AfEudpOY9QROSVm3zig8U_Nt4U</string>
	<key>GCM_SENDER_ID</key>
	<string>801682005175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mcelroys.data-driven-training</string>
	<key>PROJECT_ID</key>
	<string>data-driving-training</string>
	<key>STORAGE_BUCKET</key>
	<string>data-driving-training.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801682005175:ios:a1216ef30f1e860c5b4132</string>
</dict>
</plist>